<!DOCTYPE html>
<html>
  <head>
    <title>StudyBot</title>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto:300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/homepage.css') }}">
  </head>

  <body>
  	<div class="jumbotron text-center">
      <h1>Studybot</h1>
    </div>

    <div class="row input-notes">
      <div class="col-md-4 text-center">
        <button id="submit-notes-file" class="btn btn-large btn-primary" type="button">
          <span>
            Upload
          </span>
          <span class="text-small">
            </br>Upload your notes from a text file.
          </span>
        </button>
        <form id="notes-file" style="display:none;" enctype="multipart/form-data">
          <input type="file" name="notes-file" />
          <input type="submit" />
        </form>
      </div>

      <div class="col-md-4 text-center">
        <textarea id="notes-input" name="notes-text" class="form-control" rows="8"></textarea>
        <button id="submit-notes-text" class="btn btn-primary">
          <span>
            Generate Quiz
          </span>
        </button>
      </div>

      <div class="col-md-4 text-center">
        <button id="submit-notes-sample" class="btn btn-large btn-primary" type="button">
          <span>
            Sample
          </span>
          <span class="text-small">
            </br>Try out an example set of notes.
          </span>
        </button>
      </div>
    </div>

    <div id="processing-progress" class="row collapse">
      <div class="col-md-12 text-center">
        <h1 id="processing-progress-text" class="header">
        </h1>
        <div id="processing-progress-bar" class="progress progress-striped active">
         <div class="progress-bar"  role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
         </div>
        </div>
      </div>
    </div>

    <div id="quiz" class="collapse">
      <div id="quiz-questions">
      </div>

      <div class="row quiz-responses">
        <div class="col-md-4 text-center">
        </div>
        <div class="col-md-4 text-center">
          <button id="submit-quiz" class="btn btn-large btn-primary">
            <span>
              Submit Responses
            </span>
          </button>
        </div>
        <div class="col-md-4 text-center">
        </div>
      </div>
    </div>

    <script type="text/javascript">
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
      $RES_DIR = "{{ url_for('static', filename='res') }}";
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/inputHandler.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/quizUtils.js') }}"></script>
  </body>
</html>
