        {% extends "question.html" %}
          {% block question_type %}MultipleChoice{% endblock %}
          {% block user_response %}
            <form>
            {% for response in responses %}
              <div class="responses radio"
                {% if response == answer_response %}
                  {{ "data-correct=True" }}
                {% else %}
                  {{ "data-correct=False" }}
                {% endif %}
                >
                <input type="radio" name="responses_{{ question_id }}"><label class="response-choice">{{ response }}</label>
              </div>
            {% endfor %}
            </form>
          {% endblock %}