        {% extends "question.html" %}
          {% block question_type %}MultipleChoice{% endblock %}
          {% block user_response %}
            {% for response in responses %}
              <div class="responses radio"
                {% if response == answer_str %}
                  {{ "data-correct=True" }}
                {% else %}
                  {{ "data-correct=True" }}
                {% endif %}
                >
                <input type="radio"><label class="response-choice">{{ response }}</label>
              </div>
            {% endfor %}
          {% endblock %}