* {
  padding: 0;
  margin: 0;
}

html {
  background-color: black;
  background-size: cover;
}

.header {
	color: #FFF;

	font-family: 'Roboto', sans-serif;
	font-size: 500%;
	text-align: center;

	background-image: url(http://cdn.pcwallart.com/images/dark-blue-gradient-wallpaper-4.jpg);
	background-size: cover;
	padding: 50px 10px;

	width: 100%;

	margin-bottom: 50px;
}

.input_form {
	color: white;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

p {
  font-size: 150%;
  margin: 20px;
}

input {
  color: #FFF;
  position: relative;
  right: -20px;
}