html {
	background-size: cover;
	background-color: black;
}

p {
	font-size: 150%;
	margin: 20px;
}

 br {
 	line-height: 5px;
 }

#process-notes__text {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

#processing h1 {
	font-family: 'Raleway', sans-serif;
}

#notes-input {
	margin: 20px auto;
}

#quiz {
	font-family: 'Raleway', sans-serif;
	font-color: darkblue;
	margin: 15px;
}

	#quiz .quiz-question {
		margin: 10px;
		min-height: 200px;
	}

		#quiz .quiz-question h1 {
			display: inline;
			font-size: 100px;
			color: #999;
		}

		#quiz .quiz-question .question {
			font-style: italic;
		}

		#quiz .quiz-question .answer-correct {
			margin: auto;
			max-width: 75px;
			max-height: 75px;
		}

		#quiz .quiz-question .responses {
			font-style: oblique;
			font-size: 20px;
		}

			#quiz .quiz-question .responses .response-choice {
				margin-left: 10px;
			}

.btn{
    margin: 20px auto;
    display: block;
    word-wrap: none; 
}

	.btn.btn-medium {
		font-size: 25px;
		min-height: 50px;
	}

	.btn.btn-large {
		font-size: 50px;
		min-height: 75px;
	}

	.btn span {
		margin: 0 !important;
		font-family: 'Roboto', sans-serif;
		font-color: white;
		text-align: center;
	}

.header {
	color: darkblue;
	text-align: center;
}

.jumbotron {
	background-image: url(http://cdn.pcwallart.com/images/dark-blue-gradient-wallpaper-4.jpg);
	background-size: cover;
}

	.jumbotron h1 {
		color: #FFF;
	}

.input-option .text-small {
	font-size: 18px;
}