html {
	background-size: cover;
	background-color: black;
}

p {
	font-size: 150%;
	margin: 20px;
}

.header {
	color: darkblue;
	text-align: center;
}

.input-notes .btn.btn-large.btn-primary {
    word-wrap: none; 
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}

	.input-notes .btn.btn-large.btn-primary span {
		font-color: white;
		font-size: 65px;
	}

	.input-notes .btn.btn-large.btn-primary .text-small {
		font-size: 20px;
	}

.jumbotron {
	background-image: url(http://cdn.pcwallart.com/images/dark-blue-gradient-wallpaper-4.jpg);
	background-size: cover;
}

	.jumbotron h1 {
		font-family: 'Raleway', sans-serif;
		font-size: 150px;
		color: #FFF;
	}

#notes-input {
	margin-bottom: 10px;
	min-height: 150%;
	resize: none;
}

#processing-progress-text {
	font-family: 'Raleway', sans-serif;
}

#quiz {
	font-family: 'Raleway', sans-serif;
	font-color: darkblue;
}

	#quiz .quiz-question {
		margin: 10px;
		min-height: 200px;
	}

		#quiz .quiz-question .question-text {
			display: inline;
			font-size: 100px;
			color: #999;
		}

		#quiz .quiz-question .question {
			font-style: italic;
		}

		#quiz .quiz-question .answer-correct {
			margin: auto;
			max-width: 75px;
			max-height: 75px;
		}

		#quiz .quiz-question .responses {
			font-style: oblique;
			font-size: 20px;
		}

			#quiz .quiz-question .responses .response-choice {
				margin-left: 10px;
			}

#submit-notes-text {
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	margin-bottom: 10px;
}

#submit-quiz {
	margin-bottom: 50px;
}

	#submit-quiz span {
		font-family: 'Roboto', sans-serif;
		font-size: 50px;
	}

